# -*- mode: python ; coding: utf-8 -*-

from PyInstaller.utils.hooks import collect_data_files

# Collect additional data files (like icons)
datas = [
    ('icons/diamond_books_logo.png', 'icons'),  # Include the diamond_books_logo.png file in the 'icons' folder in the dist directory
]

a = Analysis(
    ['main.py'],
    pathex=[],  # Add your project path here if needed
    binaries=[],
    datas=datas,  # Include additional data files
    hiddenimports=[],
    hookspath=[],
    hooksconfig={},
    runtime_hooks=[],
    excludes=[],
    noarchive=False,
    optimize=0,
)

pyz = PYZ(a.pure)

exe = EXE(
    pyz,
    a.scripts,
    a.binaries,
    a.datas,
    [],
    name='DiamondBooks',  # Set the name of your application
    debug=False,
    bootloader_ignore_signals=False,
    strip=False,
    upx=True,
    upx_exclude=[],
    runtime_tmpdir=None,
    console=False,  # Set to True if you want a console window for debugging
    disable_windowed_traceback=False,
    argv_emulation=False,
    target_arch=None,
    codesign_identity=None,
    entitlements_file=None,
    icon='icons/diamond_books_logo.png',  # Set the icon for the executable
)
